## Table: Person

| Column Name | Type    |
|--------------|---------|
| id           | int     |
| email        | varchar |

- `id` is the **primary key** column (contains unique values).
- Each row of this table contains an email.
- Emails do not contain uppercase letters.
- The `email` field is guaranteed to be **not NULL**.

---

### Goal:
Write a solution to report all **duplicate emails**.

---

### Example 1

**Input:**

| id | email   |
|----|----------|
| 1  | a@b.com  |
| 2  | c@d.com  |
| 3  | a@b.com  |

**Output:**

| Email   |
|----------|
| a@b.com  |

**Explanation:**  
`a@b.com` is repeated two times.

In [7]:
import pandas as pd

person_data = {
    'id': [1, 2, 3, 4, 5],
    'email': ['a@b.com', 'c@d.com', 'a@b.com', 'e@f.com', 'c@d.com']
}

df = pd.DataFrame(person_data)
df

   id    email
0   1  a@b.com
1   2  c@d.com
2   3  a@b.com
3   4  e@f.com
4   5  c@d.com

In [4]:
def duplicate_emails(person: pd.DataFrame) -> pd.DataFrame:
    email_counts = person['email'].value_counts()
    duplicate_emails = email_counts[email_counts > 1].index
    result = pd.DataFrame({'Email': duplicate_emails})
    return result

In [6]:
result_df = duplicate_emails(person_df)
print("Duplicate emails:")
print(result_df)

Duplicate emails:
     Email
0  a@b.com
1  c@d.com